.currenttext-view {
    position: absolute;
    top: 160px;
    left: 100px;
    z-index: 6;
    color: white;
    font-size: 10px;
}

.notCheckComponents {
    position: relative;
    font-size: 6px;
    color: grey;
    left: -90px;
    top: 100px;
    z-index: 10;
}

.invisible{
    opacity: 0;
}