.slidertext {
    position: absolute;
    top: 40px;
    left: 115px;
    z-index: 6;
    color: white;
    font-size: 70px;
}

.notCheckComponentsS {
    position: relative;
    font-size: 6px;
    color: grey;
    left: -290px;
    top: 330px;
    z-index: 10;
}
/*Below is just random code that I am/was trying */
/*
                <svg className ={"forborders-view "} height="300" width="300">
                    <circle cx="150" cy="150" r="90" stroke="white" stroke-width="30" fill="transparent" />
                </svg>
*/
/*unable to do radial slider*/
.forborders-view {
    position: absolute;
    top: 50;
    left: 0;
    z-index: 11;
    stroke-dasharray: 8;/* length of arc, circumference of circle */
    stroke-dashoffset: 0;/* offset of  arc from start point (1/2 of arc length) */
}